


.main-wrapper-banner{
    width: 100%;
    font-family: 'Jost';
    margin: 0 auto;


}

.nav-bar{
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5 ;
    width: full;
  
}

.nav-text{
    margin: 0 0;
    color: #000000 ;
    font-size: 16px;
}


  .nav-btn {
      background-color: #fff544;
      font-family: "Jost";
      width: 207px;
      height: 44px;
      padding-left: 41px;
    position: relative;
    overflow: hidden;
    border: none;
    display: flex;
    align-items: center;
    color: black;
    transition: color 0.4s ease;
    cursor: pointer;
  }


  .nav-btn::before{
background-color: #000000;
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 0.4s ease;
    z-index: -1;

  }

  .nav-btn:hover::before{
    left: 0;
  }

  .nav-btn:hover{
    color: #F5F5F5;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  


  .nav-btn-arrow{
    fill: #000000;
    z-index: 1;
    transition: fill 0.4s ease;
    margin-left: 18px;
  }

  .nav-btn:hover .nav-btn-arrow{
    fill: #F5F5F5;
  }


 .banner {
     background-position: center;
     width: auto;
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
  }





  .banner-content {
    padding-left: 67px;
    max-width: 585px;
    padding-top: 425px;
  }

  .banner-heading {
      margin-bottom: 50px;
      font-size: 70px;
    margin-top: 0;
    line-height: 1;
    font-weight: 500;
    color: #000000;
  }





  .banner-description {
      color: #000000;
    font-size: 20px;
    margin-top: 0;
    line-height: 140%;
    margin-bottom: 50px;
  }

  .banner-btn {
      width: 220px;
      font-family: "Jost";
      position: relative;
    height: 50px;
    border: none;
    background-color: black;
    display: flex;
    padding-left: 55px;
    align-items: center;
    color: white;
    transition: color 0.4s ease;
    overflow: hidden;
    cursor: pointer;
  }




   .banner-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff544;
    z-index: -1;
    transition: left 0.4s ease;
     cursor: pointer;
  }

  .banner-btn:hover::before {
    left: 0;
  }

  .banner-btn:hover {
      z-index: 1;
      color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.198);
   
  }



   .banner-btn-arrow {
    fill: white;
    z-index: 1;
    transition: fill 0.3s ease;
    margin-left: 29px;
  }

  .banner-btn:hover .banner-btn-arrow {
    fill: black;
  }

  .bottom-nav {
      display: flex;
      padding-top: 9px;
      align-items: center;
      background-color: #f5f5f5;
    justify-content: center;
    font-size: 16px;
    color: #000000;
    line-height: 1;
    padding-bottom: 9px;
  }



  .bottom-nav-mobile,
  .banner-top-content-mobile,
  .icon,
  .gift-mobile {
    display: none;
  }

  .hidden {
    display: none;
  }

  @media (max-width: 768px) {
    .nav-text,
    .nav-btn,
    .bottom-nav,
    .banner-description,
    .banner-heading {
      display: none;
    }

    .icon {
      display: block;
      position: absolute;
      left: 16px;
      cursor: pointer;
    }

    .hidden {
      display: none;
    }
    .shadow {
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    }
    .nav-bar {
      justify-content: center;
      position: relative;
      padding-top: 23px;
      padding-bottom: 23px;
      z-index: 30;
    }

    .bottom-nav-mobile {
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 1;
      font-size: 14px;
      color: black;
    }

    .banner-top-content-mobile {
      display: block;
      text-align: center;
      animation-duration: 500;
      animation-delay: 100;
      transition: width 7s, height 20s;
      transition-timing-function: ease-in-out;
    }

    .banner-top-heading-mobile {
      font-size: 30px;
      font-weight: 600;
      margin-top: 49px;
      margin-bottom: 24px;
      line-height: 1;
      color: black;
    }

    .banner-top-description-mobile {
      font-size: 16px;
      margin-bottom: 12px;
      margin-top: 0;
      line-height: 130%;
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
      height: 42px;
      color: #000000;
    }
     .banner {
      width: auto;
      height: 264px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .banner-content {
      padding-top: 180px;
      padding-left: 0;
      display: flex;
      justify-content: center;
      max-width: 768px;
    }

    .gift-mobile {
      width: 100%;
      height: 124px;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: -124px;
      transition: top 0.5s ease-in; 
      z-index: 10; 
      transition-timing-function: ease;
    }

    .gift-mobile.active {
      top: 0px; 
      position: relative;
    }

    .gift-text {
      margin: 0;
      font-family: 'jost';
      font-size: 16px;
      color: black;
    }

    .gift-btn {
      position: relative;
      background-color: #fff544;
      width: 207px;
      height: 44px;
      border: none;
      padding-left: 41px;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: color 0.4s ease;
      color: black;
    }

    .gift-btn::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: -1;
      transition: left 0.4s ease;
    }

    .gift-btn:hover::before {
      left: 0;
    }

    .gift-btn:hover {
      color: white;
      z-index: 1;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.198);
    }

    .gift-btn-arrow {
      fill: #000000;
      margin-left: 18px;
      z-index: 1;
      transition: fill 0.3s ease;
    }

    .gift-btn:hover .gift-btn-arrow {
      fill: white;
    }

}