  .main-wrapper {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .inner-wrapper {
    padding-left: 51px;
    padding-right: 49px;
    margin-top: 90px;
    margin-bottom: 51px;
  }

  .top-heading {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Lustria';
    line-height: 1;
    padding-top: 7px;
    color: black;

  .product-images-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-image-main {
     object-fit: cover;
    }

  .image-container {
    position: relative;
    width: 433px;
    height: 444px;
  }

  .plus-icon {
    position: absolute;
    height: 22px;
    width: 22px;
    background: #f8f8f8;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .plus-icon-mobile {
    display: none;
  }

  
  .overlay {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .modal_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 311px;
    position: relative;
    background-color: white;
    position: relative;
    z-index: 1001;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .cross-btn {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 1;
    cursor: pointer;
  }

  .product-image {
    width: 120px;
    height: 140px;
    object-fit: cover;
  }

  .product-info {
    margin-top: 36px;
    margin-left: 17px;
    display: flex;
    gap: 8px;
    max-height: 140px;
  }

  .product-info-text {
    padding-top: 10px;
    padding-right: 20px;
  }

  .prduct-title {
    font-size: 16px;
    font-family: 'jost';
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 300;
  }

  .product-price {
    font-size: 16px;
    font-family: 'Lustria';
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 1;
  }

  .product-description {
    font-family: 'jost';
    font-size: 14px;
    line-height: 110%;
    line-height: 1;
    font-weight: 300;
  }

  .variant-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-family: 'Jost';
  }

  .color-title {
    font-size: 14px;
    line-height: 130%;
  }

  .options {
    display: flex;
    border: 0.5px solid #000;
    width: 271px;
    overflow: hidden;
    position: relative;
    margin-top: 6px;
  }

  .variant-container .option {
    flex: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 1;
    font-size: 18px;
  }

  .option {
    flex: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    z-index: 1;
    font-size: 18px;
  }

  .variant-container .option::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    left: 0;
    background-color: transparent;
    border-right: 0.5px solid #000;
    border-left: 0.5px solid #000;
    z-index: 2;
  }

  .option[data-color='white']::before {
    background-color: white;
  }

  .option[data-color='black']::before {
    background-color: black;
  }

  .option[data-color='red']::before {
    background-color: red;
  }

  .option[data-color='blue']::before {
    background-color: blue;
  }

  .option[data-color='grey']::before {
    background-color: grey;
  }

  .option.active {
    background-color: black;
    color: white;
  }

  .options .option-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: black;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
  }

  .options[data-active='1'] .option-bg {
    transform: translateX(0);
   
  }

  .options[data-active='2'] .option-bg {
    transform: translateX(100%);
    
  }


  .dropdown-container {
    margin-top: 12px;
    position: relative;
    font-family: 'Jost';
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown-container label {
    font-size: 14px;
    color: #333;
  }

  .dropdown-button {
    margin-top: 6px;
    padding-left: 13px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-align: start;
    border: 0.5px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
  }

  .dropdown-arrow {
    border-left: 0.5px solid #000;
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    width: 271px;
    border: 0.5px solid #000;
    background-color: white;
    max-height: 108px;
    overflow-y: auto;
  }

  .rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .dropdown-menu.hidden {
    display: none;
  }

  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dropdown-menu li {
    text-align: center;
    font-size: 16px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .dropdown-menu li:hover {
    background-color: black;
    color: white;
  }


  .add-to-cart-btn {
    margin-top: 51px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cart-button {
    width: 271px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    background-color: black;
    border: none;
    cursor: pointer;
  }

  .cart-button a {
    font-size: 16px;
    color: white;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .plus-icon {
      display: none;
    }

    .inner-wrapper {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 40px;
    }

    .plus-icon-mobile {
      position: absolute;
      height: 15px;
      width: 15px;
      background: #f8f8f8;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .image-container {
      width: 169px;
      height: 186px;
      
    }

    .product-image-main {
      width: 169px;
      height: 186px;
      object-fit: cover;
    }

    .top-heading {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
      padding-top: 5px;
    }

    .product-images-wrapper {
      gap: 4px;
      justify-content: center;
  
    }
  }